<div ng-controller="JobsController as jobsCtrl">
  <h1>Jobs</h1>

  <!-- <div class="col-md-12"> -->
  <div class="col-md-6">
    <div ng-repeat="job in jobsCtrl.jobs">
      <p ng-click="jobsCtrl.selectJob( jobsCtrl.jobs.indexOf(job) )" class="job-list-item">{{job.title}} | 
      <span class="content-meta">Posted on {{job.created_at.substring(0,10)}}</span><p>
    </div>
  </div>

  <div class="col-md-6" id="single-job-view">
    <%#= render partial: "jobs/single_job" %>

    <h2>{{jobsCtrl.selectedJobObject.title}}</h2>
    <p class="content-meta">Created by {{jobsCtrl.selectedJobObject.user.first_name}} {{jobsCtrl.selectedJobObject.user.last_name}} on {{jobsCtrl.selectedJobObject.created_at.substring(0,10)}}</p>
    <p>{{jobsCtrl.selectedJobObject.body}}</p>

    <h3>Comments</h3>

    <div id="list-comments">
      <!-- <comments-list></comments-list> -->
      <%#= render partial: "/comments/comments" %>
      <div ng-repeat="comment in jobsCtrl.selectedJobObject.comments">
        <h4>{{comment.title || "(this comment has no title)"}}</h4>
        <p class="content-meta">Submitted by {{comment.user.first_name}} {{comment.user.last_name}}</p>
        <p>{{comment.body}}</p>
      </div>
    </div>

    <h3>Add a comment</h3>

    <%# if current_user %>
      <!-- <form> -->
    <form novalidate>
      <input name="comment_title" id="comment_title">
      <textarea name="comment_body" id="comment_body"></textarea>
      <input type="hidden" name="comment_user_id" id="comment_user_id">
      <button ng-click="jobsCtrl.postData()">Submit!</button>
    </form>

  </div>

</div>