<div ng-controller="JobsController as jobsCtrl">
  <h1>Jobs</h1>

  <!-- <div class="col-md-12"> -->
    <div class="col-md-6">
      <div ng-repeat="job in jobsCtrl.jobs">
        <p ng-click="jobsCtrl.selectJob( jobsCtrl.jobs.indexOf(job) )">{{job.title}}<p>
        <ul>
          <li>Index # is {{jobsCtrl.jobs.indexOf(job)}}</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6">
      <h2>{{jobsCtrl.jobs[jobsCtrl.selectedJob].title}}</h2>
      <p>Created by {{jobsCtrl.jobs[jobsCtrl.selectedJob].user.first_name}} {{jobsCtrl.jobs[jobsCtrl.selectedJob].user.last_name}} on {{jobsCtrl.jobs[jobsCtrl.selectedJob].created_at.substring(0,10)}}</p>
      <p>{{jobsCtrl.jobs[jobsCtrl.selectedJob].body}}</p>

      {{jobsCtrl.testObject}}

    </div>

</div>

<div ng-controller="ReceiverController as receiver">
  Hello global = 
</div>