<div ng-controller="JobsController as jobsCtrl">
  <h1>Jobs</h1>

  <!-- <div class="col-md-12"> -->
    <div class="col-md-6">
      <div ng-repeat="job in jobsCtrl.jobs">
        <p ng-click="jobsCtrl.selectJob( jobsCtrl.jobs.indexOf(job) )" class="job-list-item">{{job.title}} | 
        <span class="content-meta">Posted on {{job.created_at.substring(0,10)}}</span><p>
      </div>
    </div>

    <div class="col-md-6" id="single-job-view">
      <%= render partial: "single_job" %>
    </div>

</div>