<div ng-controller="JobsController as jobsCtrl">

  <div class="col-md-6">
    <h1>Job Postings</h1>
    <div ng-repeat="job in jobsCtrl.jobs">
      <p ng-click="jobsCtrl.selectJob( jobsCtrl.jobs.indexOf(job) )" class="job-list-item">{{job.title}} | 
      <span class="content-meta">Posted on {{job.created_at.substring(0,10)}}</span><p>
    </div>

    <div id="page-numbers">
      <ul class="page-number">
        <li>
          Previous page
        </li>
        <li ng-repeat="pageNumber in jobsCtrl.pageNumbers">
          {{pageNumber}}
        </li>
        <li>
          Next page
        </li>
      </ul>
    </div>
  </div>

  <!-- The right side of the screen -->
  <div class="col-md-6" id="single-job-view">

    <h2>{{jobsCtrl.selectedJobObject.title}}</h2>
    <p class="content-meta">Created by {{jobsCtrl.selectedJobObject.user.first_name}} {{jobsCtrl.selectedJobObject.user.last_name}} on {{jobsCtrl.selectedJobObject.created_at.substring(0,10)}}</p>
    <p>{{jobsCtrl.selectedJobObject.body}}</p>

    <h3>Comments</h3>

    <div id="list-comments">
      <div ng-repeat="comment in jobsCtrl.selectedJobObject.comments">
        <h4>{{comment.title || "(this comment has no title)"}}</h4>
        <p class="content-meta">Submitted by {{comment.user.first_name}} {{comment.user.last_name}}</p>
        <p>{{comment.body}}</p>
      </div>
    </div>

    <div id="new-comment">
      <% if current_user %>
        PREVIEW OF YOUR COMMENT
        <h4>{{title_preview || "Your title goes here"}}</h4>
        <p class="content-meta">
          Submitted by 
          <%= current_user.first_name if current_user.first_name %>
          <%= current_user.last_name if current_user.last_name %>
        </p>
        <p>{{body_preview || "Your message goes here"}}</p>
      <% end %>

      <h3>Add a comment</h3>

      <% if current_user %>
        <!-- <form> -->
        <form novalidate>
          <label for="comment_title">Title</label>
          <input name="comment_title" id="comment_title" ng-model="title_preview">

          <label for="comment_body">Message</label>
          <textarea name="comment_body" id="comment_body" ng-model="body_preview"></textarea>

          <button ng-click="jobsCtrl.postComment()">Submit!</button>
        </form>
      <% else %>
        Please <%= link_to "log in", login_path %> to leave a comment. Or <%= link_to "register", signup_path %> to become a member.
      <% end %>
    </div>

  </div>

</div>