/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 1em 0;
}

.job-list-item{
  cursor: pointer;
}

input, textarea {
  width: 100%;
}

.page-number li {
  padding: 0.5em;
  border: 1px solid grey;
  margin: 0.25em;
  list-style: none;
  display: inline-block;
}

li.prev-next-disabled {
  text-decoration: line-through
}

.page-selected {
  color: white;
  background: black
}

.content-meta {
  font-style: italic;
}

#new-comment {
  background: #E1F1FF;
  border-top: 1px solid black;
  padding-top: 1em;
}